* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    color: white;
}

body {
    width: 100%;
}

div, header, footer {
    margin: 0.5vh auto;
}

#container{
    width: 50%;
}

header, #player, #round, #ticTacToe, #title, footer{
    width: 70%;
    text-align: center;
}

#container{
    padding: 2vw;
    background-image: url("fond-sakura.jpg");
    background-size: cover;
}

#title, footer{
    font-size: 3vw;
    font-weight: bold;
}

#player, #round, #restart {
    font-size: 2vw;
}

#title, #player div, #info, #restart{
    background-color: #ff5252;
    border-radius: 5px;
}

#player{
    display: flex;
    justify-content: space-between;
}

#ticTacToe {
    display: flex;
    flex-wrap: wrap;
}

.case{
    width: 30%;
    height: 13vh;
    background-color: #ff5252;
    font-size: 3vw;
}

