* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    color: white;
}

body {
    width: 100%;
}

div, footer {
    margin: 0.5vh auto;
}

#playerFrame, #round, #ticTacToe, #title, footer{
    width: 70%;
    text-align: center;
}

#container{
    width: 50%;
    padding: 2vw;
    background-image: url("fond-sakura.jpg");
    background-size: cover;
}

#title, footer{
    font-size: 3vw;
    font-weight: bold;
}

#playerFrame, #round {
    font-size: 2vw;
}

.player, footer div{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.player div img {
    width: 80%;
    height: auto;
}

.count {
    font-size: 6vw;
}

#title, .player, #info, #restart, #goOn{
    background-color: #ff5252;
    border-radius: 5px;
    border: 1px yellow solid;
}

#playerFrame, footer{
    display: flex;
    justify-content: space-between;
}

#ticTacToe {
    display: flex;
    flex-wrap: wrap;
}

.case{
    width: 30%;
    height: 13vh;
    background-color: #ff5252;
    font-size: 3vw;
}

