* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    color: white;
}

body {
    width: 100%;
}

div, footer {
    margin: 0.5vh auto;
}

#playerFrame, #round, #ticTacToe, #title, footer{
    width: 70%;
    text-align: center;
}

#container{
    width: 50%;
    padding: 1vw;
    background-image: url("fond-sakura.jpg");
    background-size: cover;
}

#title{
    font-size: 3vw;
    font-weight: bold;
}

#playerFrame, #round, footer {
    font-size: 2vw;
}

.player {
    width: 45%;
    height: 100%;
}

.player div img {
    width: 70%;
    height: auto;
}

.count {
    font-size: 4vw;
    display: flex;
}

#title, .player, #info, #restart, #goOn{
    background-color: #ff5252;
    border-radius: 5px;
}

#playerFrame {
    display: flex;
}

#ticTacToe {
    position: relative;
    padding-top: 1vh;
    display: flex;
    flex-wrap: wrap;
}

#popUp {
    position: absolute;
    width: 100%;
    height: 43vh;
    top : 0;
    left: 0;
    background-color:  #b22222ad;
}

.case{
    width: 30%;
    height: 13vh;
    background-color: #ff5252;
    font-size: 3vw;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer div {
    margin: 0;
    width: 30%;
}

